<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="primary">
      <ion-back-button defaultHref="home" text="Atrás" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Página 2</ion-title>
    <ion-icon slot="end" name="person-circle" class="ion-padding" size="large" color="primary"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-text color="primary">
    <h1>botones en ionic</h1>

    <p routerLink="/">Volver a Home</p>
  </ion-text>
  <ion-button>mi botón</ion-button> 
  <ion-button expand="block" color="warning">Boton con expand</ion-button>
  <ion-button fill="outline" expand="block"  color="tertiary">Outline</ion-button>
  <ion-button expand="full" color="success">
    Right Icon
    <ion-icon slot="end"  name="star" color="danger" ></ion-icon>
  </ion-button>
</ion-content>
