<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="primary">
      <ion-back-button default-href="#" text="Atrás" mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Página 2</ion-title>
    <ion-icon slot="end" name="person-circle" class="ion-padding" size="large" color="primary"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="primary">
    <h4>Esta es la página 2</h4>

    <p routerLink="/">Volver a Home</p>
  </ion-text>
</ion-content>
