<ion-header>
  <ion-toolbar>
    <ion-title>
      App Ejemplo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="primary">
    <h1>Esta es la página Home</h1>
  </ion-text>
  <ion-text color="dark">
    <p>Los elementos de Ionic funcionan igual que una página en HTML</p>
  </ion-text>
  <ion-text color="dark">
    <p>Los estilos para una página individual funcionan similar a css</p>
    <p class="rojo">Esto va en rojo</p>
  </ion-text>
</ion-content>
