<ion-header>
  <ion-toolbar>
    <ion-title>
      App Ejemplo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="primary">
    <h1>Esta es la página Home</h1>
  </ion-text>
  <ion-text color="dark">
    <p>Los elementos de Ionic funcionan igual que una página en HTML</p>
  </ion-text>
  <ion-text color="dark">
    <p>Los estilos para una página individual funcionan similar a css</p>
    <p class="rojo">Esto va en rojo</p>
  </ion-text>
  <ion-text color="dark">
    <h3 class="ion-text-capitalize strong">Navegar entre páginas</h3>
    <p>Para crear páginas usamos el comando <span class="strong">ionic generate page carpeta/nombrepagina</span></p>
  </ion-text>
  <ion-text color="dark">
    <p>Para navegar se debe utilizar <span class="strong">routerLink</span> como vínculo simple</p>
    <ion-text color="tertiary" routerLink="/pagina2">
      <p>Ir a página 2</p>

    </ion-text>
    <ion-text color="tertiary" routerLink="/pagina3">
      <p>Ir a página 3</p>
    </ion-text> 
  </ion-text>

  <!-- Agregar readme al proyecto-->
</ion-content>
